body {
  overflow: hidden;
}
@import "general_variables.scss";
/*Preloader*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: flex-end;
  background-color: #000;
}
#preloader.hide-preloader {
  animation-name: hidePreloader;
  animation-duration: 3s;
}

#preloader.preloader-hidden {
  display: none;
}

@keyframes hidePreloader {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
.preloader__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: calc(275px + (440 - 275) * ((100vw - 320px) / (1920 - 320)));
  max-width: calc(328px + (638 - 328) * ((100vw - 320px) / (1920 - 320)));
  margin: auto calc(16px + (641 - 16) * ((100vw - 320px) / (1920 - 320)))
    calc(54px + (48 - 54) * ((100vw - 320px) / (1920 - 320)));
  .preloader__title {
    text-align: center;
    position: absolute;
    top: 0;
    p {
      @include fontStyle("SFProDisplay", normal, 700, 19.09px, rgba(255, 255, 255, 1));
      text-transform: uppercase;
      font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
      width: 199px;
      height: 19px;
      margin: auto;
    }
  }
}
/*Progress Bar*/
#preloader__bar {
  margin: auto;
  width: 149px;
  height: 20px;
  outline: 1px solid rgba(255, 255, 255, 1);
  position: absolute;
  top: calc(149px + (334 - 149) * ((100vw - 320px) / (1920 - 320)));

  span {
    text-align: center;
    position: absolute;
  }
}
#preloader__bar:before,
#preloader__bar:after,
#preloader__bar > :first-child:before,
#preloader__bar > :first-child:after {
  position: absolute;
  width: 28px;
  height: 11px;
  border-style: solid;
  content: "";
}
#preloader__bar:before {
  top: -10px;
  left: -14px;
  border-color: rgba(255, 255, 255, 1);
  border-width: 1px 0 0 1px;
}
#preloader__bar:after {
  top: -10px;
  right: -14px;
  border-color: rgba(255, 255, 255, 1);
  border-width: 1px 1px 0 0;
}
#preloader__bar > :first-child:before {
  bottom: -10px;
  right: -14px;
  border-color: rgba(255, 255, 255, 1);
  border-width: 0 1px 1px 0;
}
#preloader__bar > :first-child:after {
  bottom: -10px;
  left: -14px;
  border-color: rgba(255, 255, 255, 1);
  border-width: 0 0 1px 1px;
}
#load {
  font-family: "SF Pro Display", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-top: -40px;
  color: rgba(255, 255, 255, 1);
  z-index: 999;
}
#preloader__progress {
  position: relative;
  top: 0;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
}

/*Loader Footer*/
.preloader__description {
  @include fontStyle("SFProDisplay", normal, 400, 19.6px, rgba(255, 255, 255, 1));
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320)));
  p {
    margin: 0;
  }
}

@media all and (max-width: 321px) {
  #load {
    display: none;
  }
  #preloader__bar:before,
  #preloader__bar:after,
  #preloader__bar > :first-child:before,
  #preloader__bar > :first-child:after {
    border-style: none;
  }
}

/*Loaded Section*/
.loaded__background {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url("../img/background.png") no-repeat center fixed;
  min-height: 100vh;
  .loaded__background__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    position: absolute;
    height: calc(356px + (578 - 356) * ((100vw - 320px) / (1920 - 320)));
    max-width: calc(359px + (677 - 359) * ((100vw - 320px) / (1920 - 320)));
    margin: calc(230px + (350 - 230) * ((100vw - 320px) / (1920 - 320)))
      calc(0px + (621 - 0) * ((100vw - 320px) / (1920 - 320))) calc(54px + (28 - 54) * ((100vw - 320px) / (1920 - 320)));
    header {
      .logo__title h2 {
        @include fontStyle("SFProDisplay", normal, 500, 56.55px, rgba(255, 255, 255, 1));
        text-transform: capitalize;
        font-size: calc(32.29px + (47.39 - 32.29) * ((100vw - 320px) / (1920 - 320)));
        margin: 0 0 calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
        padding: 0;
      }
      .title__description p {
        @include fontStyle("SFProDisplay", normal, 500, 23.87px, rgba(255, 255, 255, 1));
        font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
        margin: 0 0 calc(101px + (123 - 101) * ((100vw - 320px) / (1920 - 320))) 0;
      }
    }
    .drag_drop {
      display: flex;
      justify-content: center;
      border: 3px solid red;
      width: 100%;
      height: 111px;
      .drag_drop_section {
        display: flex;
        justify-content: space-between;
        width: 204px;
        border: 1px solid red;
        .div1 {
          float: left;
          height: 42px;
          width: 42px;
          border: 1px solid rgba(255, 255, 255, 1);
          border-radius: 50%;
          background-color: transparent;
        }
        .div2 {
          @extend .div1;
        }
        #drag1 {
          @extend .div2;
          margin: -1px;
          border-color: green;
        }
      }
    }
  }
}
