@import "./general_variables.scss";
/*body*/
.body {
    background: url("../img/main.png");
    height: calc(640px + (956 - 640) * ((100vw - 360px) / (1920 - 360)));
    background-repeat: no-repeat;
    .shadow{
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0);
        width: 100vw;
        height: 100vh;
        z-index: 0;
    }
}
/*Header*/
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    margin: calc(10px + (40 - 10) * ((100vw - 360px) / (1920 - 360)))
        calc(12px + (63 - 12) * ((100vw - 360px) / (1920 - 360))) 0;
    /*Header Logo*/
    .logo {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: center;
        padding-top: 6px;
        a{
            display: inline-flex;
            align-items: flex-start;
            text-decoration: none;
        }
        img {
            width: calc(27.28px + (44 - 27.28) * ((100vw - 360px) / (1920 - 360)));
            height: calc(26.25px + (42px - 26.25) * ((100vw - 360px) / (1920 - 360)));
        }
        h1 {
            margin: 0;
            @include fontStyle("SFProDisplay", normal, 500, 31.03px, rgba(255, 255, 255, 1));
            font-size: calc(20px + (26 - 20) * ((100vw - 360px) / (1920 - 360)));
            letter-spacing: 0.04em;
            margin-left: 15px;

            span {
                position: relative;
                top: -15px;
                left: 3px;
                text-transform: uppercase;
                @include fontStyle("SFProDisplay", normal, 500, 11.93px, rgba(255, 255, 255, 1));
                font-size: calc(7px + (10 - 7) * ((100vw - 360px) / (1920 - 360)));
                letter-spacing: 0.59em;
            }
        }
    }
    /*Header menu block*/
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: calc(14px + (30 - 14) * ((100vw - 360px) / (1920 - 360)));
        right: 0;
        width: calc(184px + (295 - 184) * ((100vw - 360px) / (1920 - 360)));
        height: calc(90px + (189 - 90) * ((100vw - 360px) / (1920 - 360)));
        z-index: 1;
        .menu__title {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            text-align: right;
            span {
                text-transform: uppercase;
                @include fontStyle("SFProDisplay", normal, 400, 8.8px, rgba(255, 255, 255, 1));
                font-size: calc(8px + (11 - 8) * ((100vw - 360px) / (1920 - 360)));
                letter-spacing: 2px;
                margin-right: 16px;
            }
            /*Hidden menu. Mobile Version*/
            .menu__title__blocks {
                display: flex;
                width: 55px;
                .block__one {
                    height: 8px;
                    background-color: rgba(255, 255, 255, 1);
                    width: 3px;
                    margin-right: 2px;
                }
                .block__two {
                    height: 8px;
                    background-color: rgba(255, 255, 255, 1);
                    width: 2px;
                    margin-right: 2px;
                }
                .block__three {
                    height: 8px;
                    background-color: rgba(255, 255, 255, 1);
                    width: 4px;
                    margin-right: 4px;
                }
                .block__four {
                    height: 8px;
                    background-color: rgba(255, 255, 255, 1);
                    width: 1px;
                    margin-right: 3px;
                }
                .block__five {
                    height: 8px;
                    background-color: rgba(255, 255, 255, 1);
                    width: 4px;
                    margin-right: 1px;
                }
                .block__six {
                    height: 8px;
                    background-color: rgba(255, 255, 255, 1);
                    width: 1px;
                    margin-right: 4px;
                }
                .block__seven {
                    height: 8px;
                    background-color: rgba(255, 255, 255, 1);
                    width: 2px;
                    margin-right: 2px;
                }
                .block__eight {
                    height: 8px;
                    background-color: rgba(255, 255, 255, 1);
                    width: 4px;
                }
                .block__nine {
                    height: 8px;
                    background-color: rgba(255, 255, 255, 1);
                    width: 1px;
                    margin-right: 3px;
                }
                .block__ten {
                    height: 8px;
                    background-color: rgba(255, 255, 255, 1);
                    width: 2px;
                    margin-right: 3px;
                }
                .block__eleven {
                    height: 8px;
                    background-color: rgba(255, 255, 255, 1);
                    width: 1px;
                    margin-right: 4px;
                }
                .block__twelve {
                    height: 8px;
                    background-color: rgba(255, 255, 255, 1);
                    width: 2px;
                }
            }
        }
        /*Coordinates*/
        .coordinates {
            text-align: right;
            @include fontStyle("SFProDisplay", normal, 400, 10.04px, rgba(255, 255, 255, 1));
            font-size: calc(6px + (8 - 6) * ((100vw - 360px) / (1920 - 360)));
        }
        /*Social media Block*/
        .social__media {
            display: flex;
            justify-content: flex-end;
            > div {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                width: 40px;
                height: 40px;
                border: 1px solid rgba(255, 255, 255, 1);
                border-radius: 50%;
                @include fontStyle("SFProDisplay", normal, 400, 12px, rgba(255, 255, 255, 1));
                font-size: 15px;
                text-transform: uppercase;
                a{
                    text-decoration: none;
                    color: rgba(255, 255, 255, 1);
                }
                }
            :not(:last-child) {
                margin-right: 8px;
            }
        }
    }
    /*Hidden Menu*/
    .sidenav__main__block {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: black;
        overflow: hidden;
        transition: 0.5s;
        display: flex;
        flex-direction: row;
        justify-content: center;
        > section {
            background-color: black;
        }
        /*Right Block*/
        .sidenav__first__block {
            width: 288px;
            border-left: 1px solid rgba(255, 255, 255, 1);
        }
        /*Middle Block*/
        .sidenav__second__block {
            width: calc(300px + (673 - 300) * ((100vw - 360px) / (1920 - 360)));
            position: relative;
            border-left: 1px solid rgba(255, 255, 255, 1);

            .sidenav__second__block__nav {
                position: relative;
                margin-top: calc(0px + (40 - 0) * ((100vw - 360px) / (1920 - 360)));
                 height: calc(521px + (540 - 521) * ((100vw - 360px) / (1920 - 360)));
                width: calc(300px + (470 - 300) * ((100vw - 360px) / (1920 - 360)));
                 display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items:space-between;
            span {
                    position: absolute;
                    top: calc(14px + (30 - 14) * ((100vw - 360px) / (1920 - 360)));
                   /* left: calc(16px + (0 - 16) * ((100vw - 360px) / (1920 - 360)));*/
                    left: calc(10px + (65 - 10) * ((100vw - 360px) / (1920 - 360)));  

                    text-transform: uppercase;
                    @include fontStyle("SFProDisplay",normal,400,calc(16px + (8.8 - 16) * ((100vw - 360px) / (1920 - 360))),rgba(255, 255, 255, 1));
                    font-size: calc(8px + (11 - 8) * ((100vw - 360px) / (1920 - 360)));
                    letter-spacing: 2px;
                }
                nav {
                    height: calc(242px + (401 - 242) * ((100vw - 360px) / (1920 - 360)));
                    width: calc(282px + (470 - 282) * ((100vw - 360px) / (1920 - 360)));
                    position: absolute;
                    top:calc(130px + (141 - 130) * ((100vw - 360px) / (1920 - 360)));
                    padding: 0;
                    left: calc(10px + (65 - 10) * ((100vw - 360px) / (1920 - 360)));
                    ul {
                        list-style-type: none;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        li {
                            &:not(:last-child) {
                            padding-bottom: calc(27.65px + (47 - 27.65) * ((100vw - 360px) / (1920 - 360)));
                            }
                            a {
                                display: block;
                                text-decoration: none;
                                text-transform: uppercase;
                                @include fontStyle(
                                    "SFProDisplay",
                                    normal,
                                    700,
                                    calc(36px + (60.8 - 36) * ((100vw - 360px) / (1920 - 360))),
                                    rgba(255, 255, 255, 1)
                                );
                                font-size: calc(45px + (76 - 45) * ((100vw - 360px) / (1920 - 360)));
                                cursor: pointer;
                                sup {
                                    @include fontStyle(
                                        "SFProDisplay",
                                        normal,
                                        700,
                                        calc(10.74px + (19.09 - 10.74) * ((100vw - 360px) / (1920 - 360))),
                                        rgba(255, 255, 255, 1)
                                    );
                                    font-size: calc(9px + (16 - 9) * ((100vw - 360px) / (1920 - 360)));
                                    vertical-align: text-top;
                                }
                            }
                        }
                    }
                }
            }
            .sidenav__second__block__copyRight {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items:center;
                    position: absolute;
                    left: calc(10px + (65 - 10) * ((100vw - 360px) / (1920 - 360)));
                    bottom:2.5px;
                    width:  282px;
                    height: 22px;
                    display: none;
                    margin: 0 8px 10px 0;
                    p{
                        @include fontStyle("SFProDisplay",normal,400,15px,rgba(255, 255, 255, 0.4));
                        font-size: 11px;
                        letter-spacing: 0.2em;
                        text-transform: uppercase;
                        margin: 0;
                    }
                    .sidenav__second__block__language button{
                        @include fontStyle("SFProDisplay",normal,500,11px,rgba(255, 255, 255, 1));
                        font-size: 16px;
                        letter-spacing: 0.2em;
                        text-transform: uppercase;
                        background-color:rgba(0, 0, 0, 0);
                        outline: none;
                        border: none;
                        cursor: pointer;
                        margin-right: 10px;
                        display: block;
                    }
                }
        }
    }
        /*Left Block*/
    .sidenav__third__block {
        position: relative;
        width: calc(320px + (671 - 320) * ((100vw - 768px) / (1920 - 768)));
                .sidenav__third__block__menuContent{
                position: absolute;
                height: 100vh;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items:space-between;
                .menuContent__title {
                    position: absolute;
                    top: calc(14px + (70 - 14) * ((100vw - 360px) / (1920 - 360)));
                    left: calc(10px + (65 - 10) * ((100vw - 768px) / (1920 - 768)));
                    text-transform: uppercase;
                    @include fontStyle("SFProDisplay",normal,400,calc(16px + (8.8 - 16) * ((100vw - 768px) / (1920 - 768))),rgba(255, 255, 255, 1));
                    font-size: calc(8px + (11 - 8) * ((100vw - 768px) / (1920 - 768)));
                    letter-spacing: 2px;
                    margin: 0;
                }
                .menuContent__heading{
                    position: absolute;
                    margin: 0;
                    text-transform: uppercase;
                    @include fontStyle("SFProDisplay",normal,700,calc(25px + (60.8 - 25) * ((100vw - 768px) / (1920 - 768))),rgba(255, 255, 255, 1));
                    font-size: calc(25px + (76 - 25) * ((100vw - 768px) / (1920 - 768)));
                    top: calc(103px + (211 - 103) * ((100vw - 768px) / (1920 - 768)));
                    left: calc(10px + (65 - 10) * ((100vw - 768px) / (1920 - 768)));
                }
                .menuContent__description{
                    position: absolute;
                    margin: 0;
                    top: calc(210px + (433 - 210) * ((100vw - 768px) / (1920 - 768)));
                    left: calc(10px + (65 - 10) * ((100vw - 768px) / (1920 - 768)));

                    p{
                    @include fontStyle("SFProDisplay",normal,400,19.06px,rgba(255, 255, 255, 1));
                    font-size:14px;
                    width:calc(200px + (325 - 200) * ((100vw - 768px) / (1920 - 768)));
                    letter-spacing: 0.06em;
                    margin: 0;
                    opacity: 0.9;
                    }
                }
                .menuContent__list{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    margin: 0;
                    width: calc(271 + (272 - 271) * ((100vw - 768px) / (1920 - 768)));;
                    top: calc(475px + (650 - 475) * ((100vw - 768px) / (1920 - 768)));
                     left: calc(10px + (65 - 10) * ((100vw - 768px) / (1920 - 768)));
                     h4{
                    @include fontStyle("SFProDisplay",normal,400,8.8px,rgba(255, 255, 255, 1));
                    font-size:11px;
                    text-transform: uppercase;
                    font-weight: 800;
                    margin:0 0 calc(5px + (16 - 5) * ((100vw - 768px) / (1920 - 768))) 0;
                    opacity: 0.9;
                    }
                    ul{
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    width: calc(70px + (90 - 70) * ((100vw - 768px) / (1920 - 768)));;
                     height: calc(90px + (140 - 90) * ((100vw - 768px) / (1920 - 768)));
                    
                        li{
                    @include fontStyle("SFProDisplay",normal,400,19.6px,rgba(255, 255, 255, 1));
                    font-size:calc(10px + (14 - 10) * ((100vw - 768px) / (1920 - 768)));;
                    letter-spacing: 0.06em;
                    opacity: 0.9;
                        }
                    }
                    .offices{
                        display: flex;
                        flex-flow: row wrap;
                    }
                }
                .menuContent__copyRight{
                    position: absolute;
                    margin: 0;
                    bottom:calc(30px + (62 - 30) * ((100vw - 768px) / (1920 - 768)));;
                    left: calc(10px + (65 - 10) * ((100vw - 768px) / (1920 - 768)));
                    p{
                        @include fontStyle("SFProDisplay",normal,400,calc(11.8px + (8.8 - 11.8) * ((100vw - 768px) / (1920 - 768))), #FFFFFF);
                        font-size: 11px;
                        letter-spacing: 0.2em;
                        text-transform: uppercase;
                        opacity: 0.4;
                        margin: 0;
                    }
                }
        }
    }
}
/*Main*/
main {
    display: flex;
    position: relative;
    margin: 0 calc(12px + (64 - 12) * ((100vw - 360px) / (1920 - 360))) 0;
    aside {
        position: absolute;
        right: 0;
        top: calc(12px + (265 - 12) * ((100vw - 360px) / (1920 - 360)));
        width: 217px;
        height: 189px;
    }
}
/*Footer*/
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: calc(336px + (1793 - 336) * ((100vw - 360px) / (1920 - 360)));
    margin: auto calc(12px + (64 - 12) * ((100vw - 360px) / (1920 - 360)))
        calc(10px + (40 - 10) * ((100vw - 360px) / (1920 - 360)));
    /*footer__label*/
    .footer__label {
        display: flex;
        align-items: center;
        position: relative;
        .ellipse__label {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 10px 10px;
            .ellipse__label__dot {
                position: absolute;
                top: 11px;
                left: 29px;
                height: 2px;
                width: 2px;
                background-color: rgba(0, 0, 0, 1);
            }
            .ellipse__label__rectangle {
                height: 8px;
                width: 2px;
                background-color: rgba(0, 0, 0, 1);
            }
        }
        .footer__label__description p {
            @include fontStyle("SFProDisplay", normal, 400, 18.2px, rgba(255, 255, 255, 1));
            font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1920 - 360)));
            margin: 0 0 13px 17px;
        }
    }
    /*fullscreen*/
    .footer__fullscreen {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 181px;
        margin-right: calc(10px + (16 - 10) * ((100vw - 360px) / (1920 - 360)));
        margin-bottom: calc(8px + (10 - 8) * ((100vw - 360px) / (1920 - 360)));
        z-index: 1;
        .footer__fullscreen__title h2 {
            @include fontStyle("SFProDisplay", normal, 400, 8.08px, rgba(255, 255, 255, 1));
            font-size: calc(9px + (11 - 9) * ((100vw - 360px) / (1920 - 360)));
            text-transform: uppercase;
            margin-right: 16px;
        }
        .footer__fullscreen__brackets {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-left: 16px;
            display: block;
            cursor: pointer;
            .footer__fullscreen__icons {
                width: 34px;
                height: 34px;
                position: relative;
                transition: width 0.1s, height 0.1s;
                &:hover {
                    width: 36px;
                    height: 36px;
                }
                .arrow {
                    border: solid rgba(255, 255, 255, 1);
                    border-width: 0 1px 1px 0;
                    display: inline-block;
                    padding: 3px;
                }
                .right {
                    position: absolute;
                    top: 9px;
                    right: 9px;
                    transform: rotate(-90deg);
                }
                .left {
                    position: absolute;
                    bottom: 9px;
                    left: 9px;
                    transform: rotate(90deg);
                }
            }
        }
        .footer__fullscreen__brackets:before,
        .footer__fullscreen__brackets:after,
        .footer__fullscreen__brackets > :first-child:before,
        .footer__fullscreen__brackets > :first-child:after {
            position: absolute;
            width: 5px;
            height: 5px;
            border-style: solid;
            content: "";
        }
        .footer__fullscreen__brackets:before {
            top: 0px;
            left: 0;
            border-color: rgba(255, 255, 255, 1);
            border-width: 1px 0 0 1px;
        }
        .footer__fullscreen__brackets:after {
            top: 0px;
            right: 0;
            border-color: rgba(255, 255, 255, 1);
            border-width: 1px 1px 0 0;
        }
        .footer__fullscreen__brackets > :first-child:before {
            bottom: 0px;
            right: 0;
            border-color: rgba(255, 255, 255, 1);
            border-width: 0 1px 1px 0;
        }
        .footer__fullscreen__brackets > :first-child:after {
            bottom: 0px;
            left: 0;
            border-color: rgba(255, 255, 255, 1);
            border-width: 0 0 1px 1px;
        }

        /*bottom left diagramm*/
        .footer__fullscreen__diagramm {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            width: 20px;
            height: 16px;
            background-color: transparent;
            margin-left: 23px;

            > div {
                width: 2px;
                height: 5px;
                background-color: rgba(255, 255, 255, 1);
                margin-bottom: 0;
            }
            .five {
                height: 5px;
            }
            .six {
                height: 6px;
            }
            .sixteen {
                height: 16px;
            }
            .eight {
                height: 8px;
            }
            .zero {
                height: 0;
            }
            .one {
                height: 1px;
            }
        }
    }
}
/*Media Queries*/
@media all and(max-width:767px) {
    /*Header*/
    .body{
        .shadow{
            display: none;
        }
    }
    .header {
        .logo h1,
        .coordinates,
        .menu__title span {
            display: none;
        }
        .logo img {
            z-index: 1;
        }
        .menu {
            justify-content: flex-start;
            .social__media {
                margin-top: 32px;
                display: none;
            }
        }
        .sidenav__main__block {
            .sidenav__first__block {
            border-left:none;
            }
            .sidenav__second__block {
            border: none;
            .sidenav__second__block__nav {
                position: relative;
                top: calc(119px + (40 - 119) * ((100vw - 360px) / (1920 - 360)));
                .sidenav__second__block__menu{
                    display: none;
                }   
            }
            .sidenav__second__block__copyRight {
                    display: flex;
                }     
        }
            .sidenav__third__block, #programs {
            display: none;
            .sidenav__third__block__menuContent{
                display: none;
            }
        }
    }
}
    /*Main Section*/
    main aside {
        display: none;
    }
    /*Footer*/
    footer {
        justify-content: flex-end;
        .footer__label,
        .footer__fullscreen__title,
        .footer__fullscreen__icons,
        .footer__fullscreen__brackets {
            display: none;
        }
        .footer__fullscreen__brackets:before,
        .footer__fullscreen__brackets:after,
        .footer__fullscreen__brackets > :first-child:before,
        .footer__fullscreen__brackets > :first-child:after {
            display: none;
        }
    }
}
